[submodule "atom2ckan"]
	path = atom2ckan
	url = https://github.com/CENDARI/atom2ckan.git
	branch = master
[submodule "plugins/sfDariahShibUserPlugin"]
	path = plugins/sfDariahShibUserPlugin
	url = https://github.com/CENDARI/sfDariahShibUserPlugin.git
	branch = master
[submodule "plugins/sfCendariThemePlugin"]
	path = plugins/sfCendariThemePlugin
	url = https://github.com/CENDARI/sfCendariThemePlugin.git
